html{
	font-size: 12px;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #303033;
}
a{

    text-decoration: none;
    color: #303033;
}

ul{
margin: 0;
padding: 0;
}
.container{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1.75em 0 0 0;
	box-sizing: border-box;
}
.tell-header{
margin: 1em auto;
}
.tell-header-h1{
	font-size: 1.5rem;
	font-weight: 200
}
/*下拉菜单开始*/
.tell-dropbtn {
background: url(../images/icon/dropmenu.svg);
background-size: 1.75em 1.75em;
background-repeat: no-repeat; 
height: 1.75em;
width: 1.75em;
border: none;
cursor: pointer;
}
.tell-dropdown {
    position: absolute;
    top: 3.2em;
    left: 3em;
    display: inline-block;
}
.tell-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 1.2em;
    text-align: center;
}
.tell-dropdown-content a {
    /*color: #075DB3;*/
    color: #303033;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.tell-dropdown-content a:hover {background-color: #f1f1f1}

.tell-dropdown:hover .tell-dropdown-content {
    display: block;
}
.tell-dropdown:hover .tell-dropbtn {
    background:url(../images/icon/shut-dropdown.svg);
    background-size: 1.75em 1.75em;
    background-repeat: no-repeat; 
    height: 1.75em;
    width: 1.75em;
}
/*下拉菜单结束*/

#tell-footer{
	margin-top: 1.5em;
}
.tell-footer-ul{
	display: block;
	overflow: hidden;
	white-space:nowrap;
	-webkit-padding-start: 0;
}
.tell-footer-li{
	list-style: none;
	float: left; 
	display: inline-block;
	margin-left: 0
}
.tell-footer-icon{
  width: 2.5em;
  height: 2.5em;
}
.tell-footer-icon-right{
	margin-right: 3.5em
}

.tell-shuaxin{
	background: url(../images/icon/shuaxin.svg);
background-size: 2.5em 2.5em;
background-repeat: no-repeat; 
height: 2.5em;
width: 2.5em;
border: none;
display: block;
}
.tell-shuaxin-a:hover .tell-shuaxin{
	background: url(../images/icon/shuaxin-hover.svg);
background-size: 2.5em 2.5em;
background-repeat: no-repeat; 
height: 2.5em;
width: 2.5em;
border: none;
display: block;
}
@media (max-width: 768px) { 

	.tell-container{
		width: 80%;
		height: 100%;
		margin: 1.75em auto;
		border-radius: 30px;
		box-shadow: 0 0 100px #e4e8eb;
	}
	.tell-image img{
		width: 100%;
		border-top-left-radius:30px;
		border-top-right-radius:30px;
	}
	.tell-content{
		margin: 2em 2em 0;
		font-size: 1.25rem;
	}

	.tell-author{
		margin: 0 2em 2em;
		float: right;
		font-size: 1.1rem;
	}
 }
 @media (min-width: 992px) and (max-width: 1200px) {

	.tell-container{
		width: 80%;
		height: 100%;
		margin: 1.75em auto;
		border-radius: 30px;
		box-shadow: 0 0 100px #e4e8eb;
	}
	.tell-image img{
		width: 100%;
		border-top-left-radius:30px;
		border-top-right-radius:30px;
	}
	.tell-content{
		margin: 2em 2em 0;
		font-size: 1.25rem;
	}

	.tell-author{
		margin: 0 2em 2em;
		float: right;
		font-size: 1.1rem;
	}
}
  @media (min-width: 1200px) { 

	.tell-container{
		width: 35%;
		height: 100%;
		margin: 1.75em auto;
		border-radius: 30px;
		box-shadow: 0 0 100px #e4e8eb;
	}
	.tell-image img{
		width: 100%;
		border-top-left-radius:30px;
		border-top-right-radius:30px;
	}
	.tell-content{
		margin: 2em 2em 0;
		font-size: 1.25rem;
	}

	.tell-author{
		margin: 0 2em 2em;
		float: right;
		font-size: 1.1rem;
	}

}